<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="/css/style.css" rel="stylesheet">
		<title>Hw3 </title>
  </head>

  <body>

    <%- include("partials/menu.ejs") %>

  <p>
   EXPRESS APP
  </p>

      <p> This Express App uses 3 Api's. The Books Fake Api, Texts fake Api and Credit Card fake Api's. Click on the buttons to click and get the fake information.  </p>

    <%- include("partials/footer.ejs") %>
</body>
</html>