.footer{
  background-color: #153959;
  padding: 10px;
}

#footerLogo {
	width: 250px;
}

#footerText {
  color: white;
  text-align: right;
  font-size: 15px;
}

#topnav{
  background-color: #153959;
  text-align: center;
  padding: 25px;
  margin: 5px; 
}

a{
  padding: 10px;
  text-decoration: none;
  color: white;
}